@import "@fortawesome/fontawesome-free/css/all.css";

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}
h1{
  text-align: center;
  color: red;
}

header{
  margin:15px;
  text-align: center;
  button{
    width: 250px;
    margin: 5px 30px;
  }
}
main{
 padding: 15px;
 background-color: lightblue;
  margin: auto;
  .vaccins{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
    .vaccin{
      margin:7px;
      padding: 15px;
      background-color: white;
      width:300px;
      border:1px solid rgba(0, 0, 0, 0.2);
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      .bas{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      img{
        width: 100%;
        height:auto;
        border:2px solid red;
      }
      h2{
        text-align: center;
      }
    }
  }
}
footer{
  text-align: center;
  
  h2{
    color:red;
  }
  .reservation{
    text-align: left;
    width: 300px;
    margin: auto;
  }
  button{
    margin: 15px 30px;
  }
}
